* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f5f5f5;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

#navbar {
  background-color: #2E7D32;
  color: #fff;
  padding: 90px ;
  width: 100%;
  text-align: center;
}

.nameOfWebsite {
  font-size: 24px;
  font-weight: bold;
}

#navOptions {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 10px 0;
}

#navOptions a {
  text-decoration: none;
  color: #fff;
  margin: 0 15px;
  font-weight: bold;
  transition: color 0.3s;
}

#navOptions a:hover {
  color: #64CCC5;
}

#content {
  margin: 20px auto;
  max-width: 800px;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

h1 {
  text-align: center;
  margin-bottom: 10px;
}

#profile-form {
  text-align: center;
}

.input-box {
  margin-bottom: 15px;
}

.input-box input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  transition: border-color 0.3s;
}

.input-box input:focus {
  border-color: #64CCC5;
  outline: none;
}

.btn {
  background-color: #2E7D32;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 20px 0;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
  transition: background-color 0.3s;
}

.btn:hover {
  background-color: #64CCC5;
}
