:root{
    --green1 : rgb(0, 255, 0);
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.nav-menu {
    float: right;
    margin-right: 100px;
}
.nav-menu-tab{
    display: inline-block;
    line-height: 50px;
    margin: 0 10px;
}
.logo{
    font-weight: bold;
    font-size: 30px;
    line-height: 50px;
    margin-left: 100px;

}
.menu{
    color:white;
    background-color: var(--green1);
}
.article1{
    padding-block: 100px;
    padding-inline: 50px;
    background-color: aqua;
}

/* GENERAL */
h2{
    padding-bottom: 20px;
}
p{
    padding-left: 30px;
}
button{
    padding: 5px;
    padding-inline: 20px;
    margin-top: 10px;
    margin-left: 25px;
    border: 0px;
    background: white;
    transition: 0.5s;
}
button:hover{
    letter-spacing: 0.1em;
    background: var(--green1);
}