:root{
    --green1 : rgb(123, 237, 123);
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.nav-menu {
    float: right;
    margin-right: 100px;
}
.nav-menu-tab{
    display: inline-block;
    line-height: 50px;
    margin: 0 10px;
}
.logo{
    font-weight: bold;
    font-size: 30px;
    line-height: 50px;
    margin-left: 100px;

}
.menu{
    color:white;
    background-color: var(--green1);
    border-radius: 20px;
}
.article1{
    padding-block: 100px;
    padding-inline: 50px;
    text-align: center;
    background-color: rgb(188, 255, 255);
}
.article2{
    padding-block: 100px;
    padding-inline: 50px;
    background-color: rgb(123, 221, 251);
    height:500px;
}
a{
    display:block;
    text-decoration: none;
}
ul li a:hover{
    color:red;
}
/* GENERAL */
h2{
    padding-bottom: 20px;

}
button{
    padding: 5px;
    padding-inline: 20px;
    margin-top: 10px;
    border: 0px;
    background: white;
    transition: 0.5s;
}
button:hover{
    letter-spacing: 0.1em;
    background: var(--green1);
}