th{
    text-align: left;
    padding-right: 10px;
    width:33%;
    border:1px solid black;
}
tr{
    border:1px solid black;
}
td{
    border:1px solid black;
}
tbody{
    border:1px solid black;
}
table{
    border:1px solid black;
    width: 50%;
}

body{
    height: 100%;
}
.permission{
    width: 15%;
}
.name{
    width:15%;
}
.email{
    width:50%;
}

:root{
    --green1 : rgb(123, 237, 123);
}

.nav-menu {
    float: right;
    margin-right: 100px;
}
.nav-menu-tab{
    display: inline-block;
    line-height: 50px;
    margin: 0 10px;
}
.logo{
    font-weight: bold;
    font-size: 30px;
    line-height: 50px;
    margin-left: 100px;

}
.menu{
    color:white;
    background-color: var(--green1);
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border-radius: 20px;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.software{
    height: 50vh;
    border: 1px solid black;
}